.main-image{
    width: 38% ;
}

.main-text{
    font-size: 30px;
}

.top{
        display: flex;       
        align-items: flex-start; 
        gap: 20px;               
}

.text-box {
    display: flex;
    flex-direction: column;
  }
  
h1{
    font-size: 60px;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: darkgreen;
    padding: 0px;
    overflow: hidden;
    margin-top: 0px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: right;
    margin: 20px;
    font-size: 30px;
}

.navbar a:hover{
    background-color: green;
}

.navbar li{
    float: right;
}

.navbar .logo {
    float: left;
  }

  .navbar .logo img {
    height: 100px;
    padding: 5px;
  }